*{
    box-sizing: border-box;
}

.menu{
    display: grid ;
    grid-template-columns: auto auto;
}
.Image-logo{
    width: 100px;
    border-radius: 10px;
}

.menu-list{
    display: flex;
    justify-content: center;
    list-style: none;
    float: right;
    padding: 5px;
    background-color: rgba(59, 56, 56, 0.747);
    border-radius: 10px;
}

.menu-list a{
    text-decoration: none;
}

.menu-list-son{
    padding: 15px;
}

.menu-list-son:hover{
    background-color: aliceblue;  
}