*{
    box-sizing: border-box;
}

.menu{
    display: grid ;
    grid-template-columns: auto auto;
    background-color: rgba(59, 56, 56, 0.747);
    padding: 10px;
    border-radius: 10px;
}

.Image-logo{
    border-radius: 10px;
    width: 100px;
}

.menu-list{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    float: right;
    padding: 10px;
    
    border-radius: 10px;
    margin: auto;
    height: 50px;
}

.menu-list-son{
    text-decoration: none;
    color: aliceblue;
    padding: 12px;
    border-radius: 5px;
}

.menu-list-son:hover{
    background-color: aliceblue;
    color: rgba(59, 56, 56, 0.747);
}