*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.menu{
    background-color: rgba(59, 56, 56, 0.747);
    padding: 10px;
    border-radius: 10px;
    
}

.Image-logo{
    border-radius: 10px;
    width: 100px;
}

.menu-list{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    float: right;
    padding: 10px;
    border-radius: 10px;
    height: 50px;
}

.menu-list-son{
    text-decoration: none;
    color: aliceblue;
    padding: 12px;
    border-radius: 5px;
    font-size: 20px;
}

.menu-list-son:hover{
    background-color: aliceblue;
    color: rgba(59, 56, 56, 0.747);
}

h2 {
    text-align: center;
    margin-top: 50px;
    font-size: 2rem;
}

.slider{
    overflow: hidden;
}

.slider--iner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.slider--iner img{
    width: 100%;
}
